<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fakenoonting.cartItem">
    <resultMap id="cartItem" type="com.fakenoonting.www.cart.vo.CartItemVO">
        <result column="id" property="id" />
        <result column="member_id" property="memberId" />
        <result column="product_id" property="productId" />
        <result column="order_id" property="orderId" />
        <result column="item_size" property="productSize" />
        <result column="item_count" property="productCount" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="status" property="status" />
    </resultMap>

    <insert id="addCartItem" parameterType="com.fakenoonting.www.cart.vo.CartItemVO">
        <![CDATA[
            insert into cart_item(member_id,product_id,item_count,item_size)
            values(#{memberId},#{productId},#{productCount},#{productSize})
        ]]>
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="findCartItemById" parameterType="com.fakenoonting.www.cart.vo.CartItemVO" resultMap="cartItem">
        <![CDATA[
            select *
            from cart_item
            where id = #{id}
        ]]>
    </select>

    <select id="findCartItemsByMemberId" parameterType="com.fakenoonting.www.member.vo.MemberVO" resultMap="cartItem">
        <![CDATA[
            select *
            from cart_item
            where member_id = #{id} and status= 'C'
        ]]>
    </select>

    <select id="findCartItemsByMemberIdForOrder" parameterType="com.fakenoonting.www.member.vo.MemberVO" resultMap="cartItem">
        <![CDATA[
            select *
            from cart_item
            where member_id = #{id} and status= 'O'
            Order by modify_date desc
        ]]>
    </select>

    <select id="findCartItemsByOrderId" parameterType="com.fakenoonting.www.order.vo.OrdersVO" resultMap="cartItem">
        <![CDATA[
            select *
            from cart_item
            where order_id = #{id}
        ]]>
    </select>

    <update id="updateCartItem" parameterType="com.fakenoonting.www.cart.vo.CartItemVO">
        <![CDATA[
            update cart_item
            set item_count = #{productCount}, status = #{status},order_id = #{orderId}
            where id = #{id}
        ]]>
    </update>

    <delete id="deleteCartItem" parameterType="long">
        <![CDATA[
            delete
            from cart_item
            where id = #{id}
        ]]>
    </delete>
</mapper>