<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fakenoonting.www.question.questionMapper">

    <resultMap id="questionResult" type="com.fakenoonting.www.questions.domain.Question">
        <result column="id" property="questionId"/>
        <result column="member_id" property="memberId"/>
        <result column="product_id" property="productId"/>
        <result column="title" property="title"/>
        <result column="content" property="contents"/>
        <result column="create_date" property="regDate"/>
        <result column="isLock" property="isLock"/>
        <result column="isReplyExist" property="isReplyExist"/>
        <result column="category" property="category"/>
    </resultMap>

    <!-- 문의글 등록하기   테스트용으로 각 아이디값 넣어둠 -->
    <insert id="register" parameterType="com.fakenoonting.www.questions.domain.Question">
        <![CDATA[
            INSERT INTO question (id, member_id, product_id, title, content, create_date, isLock, isReplyExist, category)
            SELECT IFNULL(MAX(id), 0)+1, 111, 222, #{title}, #{contents}, now(), #{isLock}, 0, #{category}
            FROM question
        ]]>
    </insert>

    <!-- 문의글 수정하기 -->
    <update id="update" parameterType="com.fakenoonting.www.questions.domain.Question">
        <![CDATA[
            UPDATE question
            SET title = #{title}, content = #{contents}, isLock = #{isLock}
            WHERE id = #{questionId}
        ]]>
    </update>

    <!-- 문의글 삭제하기 -->
    <delete id="delete" parameterType="int">
        <![CDATA[
            DELETE FROM question
            WHERE id = #{questionId}
        ]]>
    </delete>

    <!-- 모든 상품의 모든 문의글 찾기 -->
    <select id="findAll" resultType="com.fakenoonting.www.questions.domain.Question">
        <![CDATA[
            SELECT *
            FROM question
            ORDER BY create_date DESC
        ]]>
    </select>

    <!-- 모든 상품의 모든 문의글 찾기 + 페이징적용 -->
    <select id="findAllPaging" parameterType="com.fakenoonting.www.util.paging.Pagination" resultType="com.fakenoonting.www.questions.domain.Question" resultMap="questionResult">
        <![CDATA[
            SELECT id, category, title, member_id, create_date
            FROM question
            ORDER BY id DESC
            LIMIT #{startList}, #{listSize}
        ]]>
    </select>

    <!-- 특정 유저의 모든 문의글 찾기 -->
    <select id="findAllByMemberId" parameterType="int" resultType="com.fakenoonting.www.questions.domain.Question">
        <![CDATA[
            SELECT *
            FROM question
            WHERE member_id = #{memberId}
            ORDER BY create_date DESC
        ]]>
    </select>

    <!-- 카테고리별 모든 문의글 찾기 -->
    <select id="findAllByCategory" parameterType="string" resultType="com.fakenoonting.www.questions.domain.Question">
        <![CDATA[
            SELECT *
            FROM question
            WHERE category = #{category}
            ORDER BY create_Date DESC
        ]]>
    </select>

    <!-- 모든 상품의 모든 문의글 개수 -->
    <select id="allQuestionCount" resultType="int">
        <![CDATA[
            SELECT COUNT(*)
            FROM question
        ]]>
    </select>






    <!-- 특정 상품의 모든 문의글 개수 -->
    <select id="getProdQuesCnt" parameterType="HashMap" resultType="int">
        <![CDATA[
            SELECT COUNT(*)
            FROM question
            WHERE product_id = #{productId}
        ]]>
        <if test="contents != null and contents != '' ">
            <![CDATA[
                AND content LIKE CONCAT('%', #{contents}, '%')
            ]]>
        </if>
    </select>

    <!-- 특정 상품의 모든 문의글 찾기 -->
    <select id="findAllProdQuesByProductId" parameterType="HashMap" resultMap="questionResult">
        <![CDATA[
            SELECT *
            FROM question
            WHERE product_id = #{productId}
        ]]>
        <if test="contents != null and contents != '' ">
            <![CDATA[
                AND content LIKE CONCAT('%', #{contents}, '%')
            ]]>
        </if>
        <![CDATA[
            ORDER BY create_date DESC
            LIMIT #{startList}, #{listSize}
        ]]>
    </select>

    <!-- 답변 미완료된 모든 문의글 찾기 -->
    <!-- 답변 완료된 모든 문의글 찾기 -->

</mapper>