/*모두적용*/
ul {
  list-style: none;
}

.path {
    margin-left: 80em;
}

.path li{
    display: inline-block;
    padding: 0 0 0 4px;
    margin: 0 0 0 4px;
    color:#757575;
    
}





/*=====body===============================================================================================*/
.login-box{
    background: #101318 ;
    width: 400px;
    margin: auto;
    height: 500px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 1px rgb(30, 29, 39);
    
    box-shadow: 0px 0px 3px 1px rgba(38, 35, 128, 1);
}


.login-box .logo{
    color:white;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.login-icon{
    position: relative;
    width:100%;
    height: 100%;
    display:inline-flex;
}

.login-icon #login-icon{
    margin:auto;
}

.login-box #login-margin{
    padding: 10px;
    margin: auto;
    font-style: sans-serif;
    color:#ededed;
}
/*------end-login-box--------*/

.joinUs-box{
    background: #101318 ;
    width: 550px;
    margin: auto;
    height: 750px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 1px rgb(30, 29, 39);
    
    box-shadow: 0px 0px 3px 1px rgba(38, 35, 128, 1);
}



.joinUs-box .logo{
    color:white;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.joinUs-icon{
    position: relative;
    width:100%;
    height: 100%;
    display:inline-flex;
}

.joinUs-icon #login-icon{
    margin:auto;
}

.subscribed{
    background-color: rgb(246, 249, 249);
    font-size: 12px;
    border-radius:5px;
    padding: 2px;
    
}


/*------cart-------------------------------------*/
.cart-table{
    width: 80%;
    margin: auto;
    display: block;
   
}
#quantity-checkbox{
    width: 80%;
    justify-content: center;
    
  
}

#quantity-check{
    margin: 0%;
    padding: 0%;
    width: 30%; 
    height:50px;  
    font-size:15px;
    text-align: center;
    vertical-align: middle;
}

#quantity-check input{
    border-radius: 8%;
    width: 100%;
    height: 50%;
}



/*-----end-cart-------------------------------------*/


/*========================================================================================================*/



/* 모바일 TOP 버튼 */
#scrollTopMob {
    display: none;
    position: fixed;
    bottom: 64px; /* 브라우저 아래쪽 끝에서부터의 거리 */
    right: 30px; /* 브라우저 오른쪽 끝에서부터의 거리 */
    z-index: 99;
}

/* PC DOWN 버튼 */
#scrollDownPc {
    display: none;
    position: fixed;
    bottom: 20px; /* 브라우저 아래쪽 끝에서부터의 거리 */
    right: 30px; /* 브라우저 오른쪽 끝에서부터의 거리 */
    cursor: pointer;
    z-index: 99;
}

/* 모바일 DOWN 버튼 */
#scrollDownMob {
    display: none;
    position: fixed;
    bottom: 20px; /* 브라우저 아래쪽 끝에서부터의 거리 */
    right: 30px; /* 브라우저 오른쪽 끝에서부터의 거리 */
    z-index: 99;
}